<div class="parent" >
  <div class=calculator>
    <p  id="inputCalc">{{ currentNumber$|async }}</p>
  </div>
  <div class="grid-container">
      <div (click)="enterNumber('7')" class="grid-item"><button value="7" id="btn" >7</button></div>
      <div (click)="enterNumber('8')" class="grid-item"><button value="8" id="btn">8</button></div>
      <div (click)="enterNumber('9')" class="grid-item"><button value="9" id="btn">9</button></div>
      <div (click)="enterOperator('*')" class="grid-item"><button value="*" id="btn">x</button></div>
      <div (click)="enterNumber('4')" class="grid-item"><button value="4" id="btn">4</button></div>
      <div (click)="enterNumber('5')" class="grid-item"><button value="5" id="btn">5</button></div>
      <div (click)="enterNumber('6')" class="grid-item"><button value="6" id="btn">6</button></div>
      <div (click)="enterOperator('/')" class="grid-item"><button value="/" id="btn">/</button></div>
      <div (click)="enterNumber('1')" class="grid-item"><button value="1" id="btn">1</button></div>
      <div (click)="enterNumber('2')" class="grid-item"><button value="2" id="btn">2</button></div>
      <div (click)="enterNumber('3')" class="grid-item"><button value="3" id="btn" >3</button></div>
      <div (click)="enterOperator('+')" class="grid-item"> <button value="+" id="btn" >+</button></div>
      <div (click)="enterNumber('0')" class="grid-item"> <button value="0" id="btn">0</button></div>
      <div (click)="enterOperator('C')" class="grid-item"> <button value="C" id="btn">C</button></div>
      <div (click)="enterOperator('=')" class="grid-item"> <button value="=" id="btn" >=</button></div>
      <div (click)="enterOperator('-')" class="grid-item"> <button value="-" id="btn">-</button></div>
  
  </div>
</div>

